<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xuuuuu.mapper.CatagoryMapper" >
  <resultMap id="BaseResultMap" type="com.xuuuuu.pojo.Catagory" >
    <constructor >
      <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="name" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    id, name
  </sql>

  <select id="findAll" resultType="com.xuuuuu.pojo.Catagory">
    SELECT id, name FROM category;
  </select>

  <insert id="insertCategory" parameterType="com.xuuuuu.pojo.Catagory">
    INSERT INTO category VALUES(#{id}, #{name})
  </insert>
</mapper>
