<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xuuuuu.mutil_datasource.dao1.CategoryDao">
    <resultMap id="BaseResultMap" type="com.xuuuuu.mutil_datasource.pojo.Category">
        <constructor>
            <idArg column="Id" jdbcType="VARCHAR" javaType="java.lang.Integer"/>
            <arg column="Name" jdbcType="VARCHAR" javaType="java.lang.String"/>
        </constructor>
    </resultMap>
    <select id="getAll" resultType="com.xuuuuu.mutil_datasource.pojo.Category">
        select * from Category
    </select>
</mapper>
